# Default ignored files
/shelf/
/workspace.xml
# Rider ignored files
/.idea.Test DevC#.iml
/contentModel.xml
/projectSettingsUpdater.xml
/modules.xml
# Datasource local storage ignored files
/../../../../../../:\WORK\Test DevC#\.idea\.idea.Test DevC#\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
